# 作業目標:
敘述統計量計算
運用自定義函數apply

# 作業重點
了解敘述統計量並解釋
運用apply時須注意自定義函數寫法

# 題目:
對以下成績資料做分析
1. 6號學生(student_id=6)3科平均分數為何?
2. 6號學生3科平均分數是否有贏過班上一半的同學?
3. 由於班上同學成績不好，所以學校統一加分，加分方式為開根號乘以十，請問6號同學3科成績分別是?
4. 承上題，加分後各科班平均變多少?

In [1]:
import pandas as pd

In [2]:
score_df = pd.DataFrame([
              [1,56,66,70], 
              [2,90,45,34],
              [3,45,32,55],
              [4,70,77,89],
              [5,56,80,70],
              [6,60,54,55],
              [7,45,70,79],
              [8,34,77,76],
              [9,25,87,60],
              [10,88,40,43]],columns=['student_id','math_score','english_score','chinese_score'])
score_df = score_df.set_index('student_id')
score_df

            math_score  english_score  chinese_score
student_id
1                   56             66             70
2                   90             45             34
3                   45             32             55
4                   70             77             89
5                   56             80             70
6                   60             54             55
7                   45             70             79
8                   34             77             76
9                   25             87             60
10                  88             40             43